html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-image: linear-gradient(to bottom, #051937, #091933, #0c192f, #0f182b, #111827);
	line-height: 1;
    font-size: 14px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

.container {
    width: 1300px;
    margin: 0 auto;
}



.header { 
    background: #111827;
    border-bottom:1px solid rgba(255, 255, 255, 0.062);
    
}

.header .container {
    height: 48px;
    display: flex;
    align-items: center;
}

.header .search { 
    display: flex;
    display: block;
    border-right: 1px solid rgba(255, 255, 255, .1);
    margin-left: auto;
    
}
.header .search:hover {
    border-bottom:2px solid #fff;
}

.header .search input {
    height: 48px;
    width: 205px;
    background: #111827;
    padding: 0 10px;
    color:rgba(255, 255, 255, .6) ;
}
.header .search input::placeholder {
    color:rgba(255, 255, 255, .6) ;
}
.header .search button {
    width:42px ;
    height: 47px;
    background-color: #111827;
    color: #fff;
}
.header .search button:hover {
    background-color:#303a4e;
}

.logo {
    margin-right:2px;
}

.container span  {
    color: #fff;
    cursor: pointer;
}

.logo img{
    width: 32px;
    height: 32px;
}

.menu ul {
    margin-left: 10px;
    display: flex;
}
.menu ul li.browse a {
    line-height: 48px; 
    display: block;  
   
}
.menu ul li {
    width: 84px;
    display: flex; 
    justify-content: center;
}

.menu ul li:hover {
    background-color:#303a4e;
}


.menu ul li.browse a i{
   margin-left: 7px;
   height:16px;
    font-size: 10px;
    align-items: center;
}

.header .login-buttons ul {
    display: flex;
}


.header .login-buttons ul li a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
}

.header .login-buttons .egghead-btn button {
    background: #2563EB;
    line-height: 28px;
    width: 130px;
    color: #fff;  
    border-radius: 5px;
}

.header .login-buttons .egghead-btn button:hover {
    background: #1d4eb8;
}

.header .login-buttons .sign-button:hover {
    background-color:#303a4e;
}


    /* BANNER SECTİON */
.banner {
    min-height: 50vh;
    background: url(img/hero-bg-dark.webp) ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size:cover;
}


.banner .container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 150px 0 ;
    color: #fff;
}
.banner .container .banner-box {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 32px;
}

.banner .container .banner-box h1 {
    display: block;
    font-size: 48px;
    font-weight: 700;
    max-width: 23ch;
    text-align: center;
}

.banner .container .banner-box h2 {
    font-size: 20px;
    padding: 12px 0 10px;
    color: #E6B024;
    text-align: center;
} 
.banner .container .language-box {
    margin-top: 50px;
}

.banner .container .language-box ul {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.banner .container .language-box ul li {
    margin: 4px 16px;
    align-items: center;
}

/* YOUR TİME */

.your-time .container .text-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 0;
}

.your-time .container .text-section p {
    height:35px;
    font-size: 16px;
    color: #fbbf24;
    padding: 0 0 16px;
    font-weight: 500;
}

.your-time .container .text-section h3 {
    font-size: 25px;
    padding: 0 0 40px;
    color: #f3f4f6;
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 20px;
}
.your-time .container .text-list {
    box-sizing: border-box;
}

.your-time .container .text-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 350px;
    
}

.your-time .container .text-list ul li {
    margin-top: 20px;
}



.your-time .container .text-list ul span {
    color: #f3f4f6;
    font-size: 18px;
    margin-left: 10px;
    
}

.your-time .container .text-list ul img {
    width: 25px;
}


.your-time .container .text-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 64px 0 0;
    
}

.your-time .container .text-section2 p {
    font-size: 18px;
    color: #f3f4f6;
    padding: 20px 0 0 ;
    margin-left: 350px;
    line-height: 30px;
    
}

.your-time .container .text-list {
    box-sizing: border-box;
}

.your-time .container .text-list2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1F2937 ;
    width: 720px;
    padding: 30px;
    border-radius: 10px;
}


.your-time .container .text-list2 ul li {
    margin-top: 20px;
}



.your-time .container .text-list2 ul span {
    color: #f3f4f6;
    font-size: 18px;
    margin-left: 10px;
    text-align: start;
    
}

.your-time .container .text-list2 ul img {
    width: 25px;
}


/* MEMBER */

.member  .text-section3 h3 {
    font-size: 25px;
    padding: 40px 0 40px;
    color: #f3f4f6;
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.member .container .benefits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 96px;
}
.member .container .benefits .benefits-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.member .container .benefits .benefits-grid .grid-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 162px;
    background: #19212E ;
    border-radius: 5px;
    margin-top: 20px;

}

.member .container .benefits .benefits-grid .grid-part .icon-grid img {
    width: 32px;
    height: 32px;
}

.member .container .benefits .benefits-grid .grid-part .text-grid {
    width: 234px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: #e5e7eb;
}
.member .container .benefits .benefits-grid .grid-part .text-grid-2 {
    width: 234px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #e5e7eb;
}


/* FOOTER */

.footer {
    background:#0A0F19;
    width: 100%;
    padding: 0 24px;
}

.footer .container .footer-top {
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container .footer-top a button {
    width: 434px;
    height: 56px;
    background: #eff6ff;
    padding: 16px 32px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
}

.footer .container .footer-top a button:hover {
    background: #fff;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.footer .container .footer-mid {
    height: 383px;
    padding: 56px 0 160px;
    display: flex;
    justify-content: space-between;
}

.footer .container .footer-mid .logo-text {
    display: flex;
    flex-direction: row
}


.footer .container .footer-mid .logo-text img {
    width: 33px;
    height: 33px;
}

.footer .container .footer-mid .logo-text h3 {
    height: 66px;
    width: 248px;
    color: #e5e7eb;
    margin-left: 8px;
    font-size: 20px;
}
.footer .container .footer-mid  .footer-menu {
    display: flex;
    flex-direction: row;

}

.footer .container .footer-mid  .footer-menu ul {
    padding-right: 100px;
    color: #e5e7eb;
    font-size: 14px;
}

.footer .container .footer-mid  .footer-menu ul li {
    padding: 10px 0;
    cursor: pointer;
}

.footer .container .footer-mid  .footer-menu ul li:hover {
    color: #2563eb;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.footer-bottom {
    width: 100%;
    height: 88px;

}

.footer-bottom ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.footer-bottom ul li {
    padding: 0 24px;
}